@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 247 248 250;
  --foreground: 15 23 42;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
